<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(newsletter) -%>">
  <span class='title'>
    <%= newsletter.title %>
    <span class="preview">
    <% if newsletter.sent? %>
      <%= t('.emails_sent', :count => newsletter.emails_sent, :date => l(newsletter.updated_at.to_date)) %>
    <% elsif newsletter.sending? %>
      <%= t('.sending') %>
    <% end %>
    </span>
  </span>

  <span class='actions' style="width:270px">
    <%= link_to refinery_icon_tag("application_go.png"), newsletter_url(newsletter),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("email_go.png"), send_admin_newsletter_path(newsletter, :dialog => true, :width => 725, :height => 275),
         :title => t('.send') %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_newsletter_path(newsletter),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_newsletter_path(newsletter),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => newsletter.title),
        :method => :delete %>
  </span>

</li>
